<h1>Log-in</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for :session, url: sessions_path do |f| %>
	<div class="field">
		<%= f.label :email %> 
		<%= f.email_field :email %> 

	</div>

	<div class="field">
		<%= f.label :password %> 
		<%= f.password_field :password %> 

	</div>

	<%= f.submit 'log in' %>

<% end %>

